* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: hsl(0, 0%, 96%);

}

.test {}

#nav {
    color: rgb(234, 233, 233);
    background-color: #15b1e5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.submenu {
    padding-left: 15px;
}

.panel-card {
    overflow: hidden;
}

.sidebar {
    background-color: #00bfff;
    /* Cian */
    padding: 15px;
    height: 100%;
}

.submenu {
    padding-left: 15px;
}

.header {
    background-color: rgb(255, 255, 255);
}

#panel {
    background-color: rgb(249, 249, 249);
}

header {
    font-size: 14px;
}

#container {
    padding: 0px !important;
    height: 400px !important;
}

#color {
    background-color: rgb(249, 249, 249);
    height: 40rem !important;
    max-height: 40rem !important;
}

#tabla {
    background-color: white;
    /* width: 95.4% !important; */
    
}


@media screen and (max-width: 1300px) {
    #nav {
        display: none;
    }

    .navbar-mobile .dropdown-menu {
        display: block;
    }
}

/* Navbar móvil */
.navbar-mobile {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    background-color: #15b1e5;
    z-index: 1000;
    padding: 10px 0;
}

.mobile-menu-btn {
    background-color: #15b1e5;
    color: white;
    width: 100%;
    text-align: center;
}

.dropdown-menu {
    text-align: center;
    font-size: 15px;
    background-color: #15b1e5;
    color: rgb(234, 233, 233);
    position: static;
    width: 100%;
    top: 50px;
    /* Justo debajo del botón */
    left: 0;
    padding: 10px;
    z-index: 999;
}

.content.shift-down {
    margin-top: 100px;
}

